
<div class="middlePage">
	<div class="page-header">
	  <h1 class="logo">¿Donde vacunarse?</h1>
	</div>

	<div class="panel panel-info">
	  <div class="panel-heading">
	    <h3 class="panel-title">Centros en {{deptoSelect}}</h3>
	  </div>
	  <div class="panel-body">
	  	<div class="row">
		   <div class="col-md-12" style="border-left:1px solid #ccc;">
			<table class="table table-striped">
				<thead>
				  	<th>Localidad</th>
				  	<th>Nombre</th>
				  	<th>Horario</th>
					<th></th>
			    </thead>
			    <tbody>
			    	<tr dir-paginate="c in centros|itemsPerPage:10">
			    		<td>{{c.localidad}}</td>
			    		<td>{{c.nombre}}</td>
			    		<td>{{c.horario}}</td>
			    		<td>
					        <a class="btn btn-default btn-xs" href="#/verCentro/{{c._id}}">
					          <span class="fa fa-eye" aria-hidden="true"></span>
					        </a>
        				</td>
			    	</tr>
			    </tbody>
			</table>

		   </div>
	    	</div>
	  </div>
	</div>
</div>
